 <template lang="pug">
    div
      v-layout(column justify-center align-center)
        v-flex(d-flex xs12)
          v-data-table(v-bind:headers="headers" :items="items" class="elevation-1")
              template(slot="items" slot-scope="props")
                tr(@click="props.expanded = !props.expanded")
                  td {{ props.item.id }}
                  td {{ props.item.date | moment("YYYY-MM-DD")}}
                  td {{ props.item.spentAmount }}
                  td {{ props.item.spentCurrency }}
                  td {{ props.item.acquiredAmount }}
                  td {{ props.item.acquiredCurrency }}
                  td {{ props.item.feeAmount }}
                  td {{ props.item.feeCurrency }}
                  td {{ props.item.bookPriceEur }}
                  td {{ props.item.bookPriceBtc }}
                  td {{ props.item.bookPriceFeeEur }}
                  td {{ props.item.bookPriceFeeBtc }}
</template>

<script>
import gql from "graphql-tag"

export default {
  data() {
    return {
      headers: [
        {
          text: "id",
          align: "left",
          value: "id"
        },
        { text: "date" },
        { text: "spent" },
        { text: "" },
        { text: "acquired" },
        { text: "" },
        { text: "fee" },
        { text: "" },
        { text: "book EUR" },
        { text: "book BTC" },
        { text: "book fee EUR" },
        { text: "book fee BTC" }
      ],
      items: []
    }
  },
  methods: {
    onActionClick(type, id) {}
  },
  apollo: {
    items: {
      query: gql`
        {
          allTransactions {
            id
            date
            spentAmount
            spentCurrency
            acquiredAmount
            acquiredCurrency
            feeCurrency
            feeAmount
            bookPriceEur
            bookPriceBtc
            bookPriceFeeEur
            bookPriceFeeBtc
          }
        }
      `,
      update: data => data.allTransactions
    }
  },
  watch: {}
}
</script>

<style>

</style>
